<p id="notice" class="noprint"><%= notice %></p>

<p>
  <b>Логин:</b>
  <%= @user.login %>
</p>

<p>
  <b>Фамилия:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Имя:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Отчество:</b>
  <%= @user.patronymic %>
</p>

<p>
  <b>Администратор:</b>
  <%= @user.is_root ? 'да' : 'нет' %>
</p>

<p class="noprint">
  <%= link_to 'Редактировать', edit_user_path(@user) %> |
  <%= link_to 'Назад', users_path %>
</p>