<script type="text/javascript">
  $(document).ready(function() {
    submit_flag = false;

    $('input[name=commit][type=submit]').click(function(e) {
      submit_flag = true;
    });

    $(window).on('beforeunload', function() {
      if(submit_flag) {
        return;
      }
      else {
        return "Вы собираетесь покинуть страницу. Все несохраненные данные будут потеряны.";
      }
    })
  })
</script>
<%= form_for(@pregnancy_trimester_i_examination) do |f| %>
  <% if @pregnancy_trimester_i_examination.errors.any? %>
    <div id="error_explanation">
      <h2>Из-за <%= ec = @pregnancy_trimester_i_examination.errors.count %> <%= Russian.p(ec, "ошибки", "ошибок", "ошибок") %> отчет сохранить не удалось:</h2>

      <ul>
      <% @pregnancy_trimester_i_examination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Размеры матки:</legend>
      <div class="fieldset">
        <span class="on_one_line">
          <%= f.label :uterus_length %><br />
          <%= f.number_field :uterus_length, :style => "width:50px;", :step => "any" %>
        </span>
        <span class="on_one_line">
          <%= f.label :uterus_anteroposterior %><br />
          <%= f.number_field :uterus_anteroposterior, :style => "width:50px;", :step => "any" %>
        </span>
        <span class="on_one_line">
          <%= f.label :uterus_transverse_size %><br />
          <%= f.number_field :uterus_transverse_size, :style => "width:50px;", :step => "any" %>
        </span>
      </div>
      <div class="field">соответствуют
        <%= f.number_field :gestation_age_in_weeks, :style => "width:30px;" %> <%= f.label :gestation_age_in_weeks %>
      </div>
  </fieldset>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, :size => "71x7" %>
  </div>
  <fieldset>
    <legend><%= f.label :findings_and_recommendations %></legend>
    <div class="field">
      <%= f.text_area :findings_and_recommendations, :size => "70x7" %>
    </div>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= hidden_field_tag 'patient_id', params[:patient_id] %>
<% end %>
