<h1>Список обследований на беременность в первом триместре</h1>
<table>
  <tr>
    <th>Ф.И.О.</th>
    <th>Дата</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pregnancy_trimester_i_examinations.each do |exam| %>
  <tr class="<%= cycle('', 'alt') %>">
    <td><%= link_to format_name(exam.patients.first), patient_path(exam.patients.first) %></td>
    <td><%= l exam.created_at, :format => :long %></td>
    <td><%= link_to 'Показать', exam %></td>
    <td><%= link_to 'Редактировать', edit_gynecologic_examination_path(exam) %></td>
    <td><%= link_to 'Удалить', exam, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>
