<span class="on_one_line">
  <%= builder.label :min_size %><br />
  <%= builder.number_field :min_size, :style => "width:50px;", :step => "any", :disabled => "true" %>
</span>
<span class="on_one_line">
  <%= builder.label :max_size %><br />
  <%= builder.number_field :max_size, :style => "width:50px;", :step => "any", :disabled => "true" %>
</span>
<span class="on_one_line">
  <%= builder.label :amount %><br />
  <%= builder.number_field :amount, :style => "width:50px;", :disabled => "true" %>
</span>