<script type="text/javascript">
  function set_disabled_attribute(selector, attributes, state) {
    $.each(attributes, function(attribute, value) {
      $(selector + '_' + attribute).prop('disabled', state);
    });
  };

  function set_value(selector, attributes) {
    $.each(attributes, function(attribute, value) {
      var sel = selector + '_' + attribute;
      if($(sel).prop('type') == 'checkbox') {
        $(sel).prop('checked', value);
      }
      else {
        $(sel).val(value);
      }
    });
  };
  
  function set_option(selector, options, position) {
    $.each(options, function(option, value) {
      $(selector + '_' + option + ' :' + position).prop('selected', true);
    });
  };

  function toggle_follicle_condition(selector, attributes, is_checked) {
    if (is_checked) {
      set_disabled_attribute(selector, attributes, false);
    }
    else {
      set_value(selector, attributes); 
      set_disabled_attribute(selector, attributes, true);
    }
  };
  
  function toggle_ovary_condition(selector, attributes, options) {
    if( $(selector + '_' + 'visibility_id :selected').text() == 'не определяется' ) {
      $(selector + '_' + 'is_follicle_visible').prop('checked', false);
      toggle_follicle_condition(selector + '_' + 'follicle_attributes',
                                follicle_attributes,
                                false);
      set_disabled_attribute(selector,
                             $.extend({'is_follicle_visible': ''}, attributes, options),
                             true);
      set_value(selector, attributes);
      set_option(selector, options, 'last');
    }
    if( $(selector + '_' + 'visibility_id :selected').text() == 'определяется' ) {
      set_disabled_attribute(selector,
                             $.extend({'is_follicle_visible': ''}, attributes, options),
                             false);
      set_option(selector, options, 'first');
    }
  };
  
  function toggle_cervix_structure_condition() {
    var selector = endocervix_cyst_selector;
    var attributes = endocervix_cyst_attributes;
    var selector_text = $(selector + '_' + 'cervix_structure_change_id :selected').text()
    
    if( selector_text == 'не изменена' ||
        selector_text == '-- не задано --'
    ) {
      set_value(selector, attributes);
      set_disabled_attribute(selector, attributes, true);
    }
    if( selector_text == 'изменена' ) {
      set_disabled_attribute(selector, attributes, false);
    }
  };
  
  function toggle_cervix_condition() {
    var selector = cervix_selector;
    var attributes = cervix_attributes;
    var selector_text = $(selector + '_' + 'cervix_visibility_id :selected').text();
    if( selector_text == 'не определяется' || selector_text == '-- не задано --' ){
      set_value(selector, attributes);
      set_disabled_attribute(selector,
                             $.extend({'cervix_structure_change_id': ''}, attributes),
                             true);
      set_option(selector, {'cervix_structure_change_id': ''}, 'last');
    }
    if( selector_text == 'определяется' ){
      set_disabled_attribute(selector, 
                             $.extend({'cervix_structure_change_id': ''}, attributes),
                             false);
      set_option(selector, {'cervix_structure_change_id': ''}, 'first');
    }
    toggle_cervix_structure_condition();
  };
  
  function toggle_endometrium_echostructure_inclusion_condition() {
    var visible_remove_links = $('a[class=remove_nested_fields][data-association=endometrium_echostructure_hyperechoic_inclusions]').filter(function() {
      return $(this).parent().parent().css('display') != 'none';
    });
    var add_inclusion_link = $('a[class=add_nested_fields][data-association=endometrium_echostructure_hyperechoic_inclusions][data-blueprint-id=endometrium_echostructure_hyperechoic_inclusions_fields_blueprint]');
    if( $('#gynecologic_examination_endometrium_echostructure_change_type_id :selected').text() == 'гиперэхогенное включение' ) {
      add_inclusion_link.show();
      if( visible_remove_links.size() == 0 ) {
        add_inclusion_link.click();
      }
    }
    else {
      add_inclusion_link.hide();
      visible_remove_links.click();
    }
  }
  
  function toggle_endometrium_echostructure_condition() {
    var selector = endometrium_echostructure_selector;
    var options = endometrium_echostructure_options;
    if($('#gynecologic_examination_endometrium_echostructure_change_id :selected').text() != 'изменена' ) {
      set_option(selector, options, 'last');
      set_disabled_attribute(selector, options, true);
      toggle_endometrium_echostructure_inclusion_condition();
    }
    else {
      set_option(selector, options, 'first');
      set_disabled_attribute(selector, options, false);
      toggle_endometrium_echostructure_inclusion_condition();
    }
  }
  
  function toggle_myometric_structure_condition() {
    var selector = myometrium_selector
    var attributes = myometrium_attributes
    var add_node_link = $('a[class=add_nested_fields][data-association=myometric_structure_nodes][data-blueprint-id=myometric_structure_nodes_fields_blueprint]');
    var visible_remove_links = $('a[class=remove_nested_fields][data-association=myometric_structure_nodes]').filter(function() {
      return $(this).parent().parent().css('display') != 'none';
    });
    if( $('#gynecologic_examination_myometric_structure_change_id :selected').text() != 'изменена' ) {
      set_disabled_attribute(selector, attributes, true);
      set_value(selector, attributes);
      visible_remove_links.click();
      add_node_link.hide();
    }
    else {
      set_disabled_attribute(selector, attributes, false);
      add_node_link.show();
      if( visible_remove_links.size() == 0 ) {
        add_node_link.click();
      }
    }
  }
  
  function toggle_uterine_cavity_condition() {
    var selector = uterine_cavity_selector;
    var attributes = uterine_cavity_attributes;
    if( $('#gynecologic_examination_uterine_cavity_size_change_id :selected').text() == 'расширена' ) {
      set_disabled_attribute(selector, attributes, false);
    }
    else {
      set_value(selector, attributes);
      set_disabled_attribute(selector, attributes, true);
    }
  }
  
  function toggle_uterus_condition() {
    var selector = uterus_selector;
    var options = uterus_options
    var attributes = uterus_attributes;
    if( $('#gynecologic_examination_uterine_body_visibility_id :selected').text() == 'не определяется' ) {
      set_option(selector, options, 'last');
      toggle_uterine_cavity_condition();
      toggle_cervix_condition();
      toggle_endometrium_echostructure_condition();
      toggle_myometric_structure_condition();
      set_value(selector, attributes);
      set_disabled_attribute(selector,
                             $.extend({}, options, attributes),
                             true);
    }
    else {
      set_option(selector, options, 'first');
      toggle_uterine_cavity_condition();
      toggle_cervix_condition();
      toggle_endometrium_echostructure_condition();
      toggle_myometric_structure_condition();
      set_value(selector, attributes);
      set_disabled_attribute(selector,
                             $.extend({}, options, attributes),
                             false);
                             
    }
  }
  
  function toggle_ovary_structure(selector) {
    pattern = new RegExp('#gynecologic_examination_([^_]+)_ovary_attributes');
    orientation = selector.match(pattern)[1];
    filter = new RegExp('^gynecologic_examination_' + orientation + '_ovary_attributes');
    $('a[class=add_nested_fields][data-association=formations][data-blueprint-id=' + orientation + '_ovary_formations_fields_blueprint]').hide();
    var visible_remove_links = $('a[class=remove_nested_fields][data-association=formations]').filter(function() {
      return $(this).parent().parent().css('display') != 'none' && $(this).prev().prop('id').match(filter) != null;
    });
    visible_remove_links.click();
  }

  
  function toggle_ovary_formation(selector) {
    var ovary_orientation = selector.match(/#gynecologic_examination_([^_]+)_ovary_attributes/)[1];
    var add_link = $('a[class=add_nested_fields][data-association=formations][data-blueprint-id=' + ovary_orientation + '_ovary_formations_fields_blueprint]');
    if( $(selector + '_' + 'structure_id :selected').text() == 'изменена' ) {
      add_link.show();
      add_link.click();
    }
    else {
      var visible_remove_links = $('a[class=remove_nested_fields][data-association=formations]').filter(function() {
        var pattern = new RegExp('^gynecologic_examination_' + ovary_orientation + '_ovary_attributes_formations_attributes');
        return $(this).parent().parent().css('display') != 'none' && $(this).prev().prop('id').match(pattern) != null;
      });
      visible_remove_links.click();
      add_link.hide();
    }
  }
  
  function toggle_ovary_formation_chamber(event) {
    current = event.target
    var add_link = $(current).parent().parent().find('div.fieldset a.add_nested_fields[data-association=chambers]');
    var remove_links = $(current).parent().parent().find('div.fieldset span.on_one_line a.remove_nested_fields[data-association=chambers]');
    if( $('#' + current.id + ' :selected').html() == 'однокамерное' ) {
      remove_links.click();
      add_link.click();
      $(current).parent().parent().find('div.fieldset span.on_one_line a.remove_nested_fields[data-association=chambers]').filter( function() { return $(this).parent().parent().css('display') != 'none' } ).hide();
      add_link.hide();
    }
    else {
      remove_links.click();
      add_link.click();
      add_link.click();
      $(current).parent().parent().find('div.fieldset span.on_one_line a.remove_nested_fields[data-association=chambers]').filter( function() { return $(this).parent().parent().css('display') != 'none' } ).hide();
      add_link.hide();
      add_link.show();
    }
  }
  
  function toggle_free_fluid_condition() {
    if( $(default_selector + '_' + 'is_free_fluid_present').is(':checked') ) {
      set_disabled_attribute(default_selector,
                             free_fluid,
                             false);
      set_option(default_selector, 
                 free_fluid,
                 'first');
    }
    else {
      set_disabled_attribute(default_selector,
                             free_fluid,
                             true);
      set_option(default_selector, 
                 free_fluid,
                 'last');
    }
  };


  $(document).ready(function() {
    submit_flag = false;
    default_selector = '#gynecologic_examination';
    uterus_selector = default_selector;
    uterus_attributes = {'endometrial_thickness': '', 'uterine_anteroposterior': '',
                         'uterine_width': '', 'uterine_length': ''};
    uterus_options = {'cervix_visibility_id': '', 'uterine_cavity_size_change_id': '',
                      'uterine_cavity_deformation_id': '', 'endometrium_phase_id': '',
                      'endometrial_adumbration_id': '', 'endometrial_boundary_id': '',
                      'endometrium_echostructure_change_id': '', 'myometric_structure_change_id': '',
                      'uterine_size_id': '', 'uterine_shape_id': '', 'uterine_adumbration_id': '',
                      'uterine_boundary_id': '', 'uterine_body_detection_position_id': ''};
    uterine_cavity_selector = default_selector;
    uterine_cavity_attributes = {'is_uterine_cavity_node_present': false, 'uterine_cavity_size': ''};
    myometrium_selector = default_selector;
    myometrium_attributes = {'myometrium_anterior_wall_thickness': '', 'myometrium_posterior_wall_thickness': '' }
    endometrium_echostructure_selector = default_selector;
    endometrium_echostructure_options = {'endometrium_echostructure_change_type_id': ''};
    cervix_selector = default_selector;
    cervix_attributes = {'cervix_size': '', 'is_cervix_of_normal_size': false};
    endocervix_cyst_selector = default_selector;
    endocervix_cyst_attributes = {'endocervix_cyst_min_size': '', 'endocervix_cyst_max_size': '', 'is_endocervix_cyst_multiple': false};
    left_ovary_selector = '#gynecologic_examination_left_ovary_attributes';
    right_ovary_selector = '#gynecologic_examination_right_ovary_attributes';
    follicle_attributes = {'min_size': '', 'max_size': '', 'amount': 0};
    ovary_attributes = {'length': '', 'thickness': '', 'width': ''};
    ovary_options = {'size_id': '', 'structure_id': ''};
    free_fluid = {'free_fluid_amount_id': ''};
    
    /////////////////////////////////////
    // initial consistensy
    /////////////////////////////////////
        
    // тело матки
    if( $('#gynecologic_examination_uterine_body_visibility_id :selected').text() == 'не определяется' ) {
      set_disabled_attribute(uterus_selector,
                             $.extend({}, uterus_attributes, uterus_options),
                             true);
    }

    // полость матки
    if( $('#gynecologic_examination_uterine_cavity_size_change_id :selected').text() != 'расширена' ) {
      set_disabled_attribute(uterine_cavity_selector, 
                             uterine_cavity_attributes,
                             true);
    }

    // миометрий
    if( $('#gynecologic_examination_myometric_structure_change_id :selected').text() != 'изменена' ) {
      set_disabled_attribute(myometrium_selector,
                             myometrium_attributes,
                             true);
      $('a[class=add_nested_fields][data-association=myometric_structure_nodes][data-blueprint-id=myometric_structure_nodes_fields_blueprint]').hide();
      var visible_remove_links = $('a[class=remove_nested_fields][data-association=myometric_structure_nodes]').filter(function() {
        return $(this).parent().parent().css('display') != 'none';
      });
      visible_remove_links.click();
    };

    // эндометрий
    if($('#gynecologic_examination_endometrium_echostructure_change_id :selected').text() != 'изменена' ) {
      set_disabled_attribute(endometrium_echostructure_selector,
                             endometrium_echostructure_options,
                             true);
      toggle_endometrium_echostructure_condition();
    }
        
    if( $('#gynecologic_examination_endometrium_echostructure_change_type_id :selected').text() != 'гиперэхогенное включение' ) {
      $('a[class=add_nested_fields][data-association=endometrium_echostructure_hyperechoic_inclusions][data-blueprint-id=endometrium_echostructure_hyperechoic_inclusions_fields_blueprint]').hide();
      var visible_remove_links = $('a[class=remove_nested_fields][data-association=endometrium_echostructure_hyperechoic_inclusions]').filter(function() {
        return $(this).parent().parent().css('display') != 'none';
      });
      visible_remove_links.click();
    }
      
    // шейка
    if( $(endocervix_cyst_selector + '_' + 'cervix_structure_change_id :selected').text() != 'изменена' ) {
      set_disabled_attribute(endocervix_cyst_selector,
                             endocervix_cyst_attributes,
                             true);
    };
    
    if( $(cervix_selector + '_' + 'cervix_visibility_id :selected').text() != 'определяется' ){
      set_disabled_attribute(cervix_selector,
                             $.extend({'cervix_structure_change_id': ''}, cervix_attributes),
                             true);
      set_disabled_attribute(endocervix_cyst_selector,
                             endocervix_cyst_attributes,
                             true);
    };
    
    // левый яичник    
    if( !$(left_ovary_selector + '_' + 'is_follicle_visible').is(":checked") ) {
      set_disabled_attribute(left_ovary_selector + '_' + 'follicle_attributes', 
                             follicle_attributes, 
                             true);
    }

    if( $(left_ovary_selector + '_' + 'visibility_id :selected').text() == 'не определяется' ) {
      set_disabled_attribute(left_ovary_selector,
                             $.extend({'is_follicle_visible': ''}, ovary_attributes, ovary_options),
                             true);
      set_disabled_attribute(left_ovary_selector + '_' + 'follicle_attributes',
                             follicle_attributes,
                             true);
    }
    
    $.each($('div.fieldset div.fields span.on_one_line select[id^=gynecologic_examination_left_ovary_attributes_formations_attributes][id$=content_id]'), function() {
      var elem = $(this).parent().parent();
      if( $('#' + this.id + ' :selected').text() == 'однокамерное' ) {
        elem.find('div.fieldset a.add_nested_fields[data-association=chambers]').hide();
        elem.find('div.fieldset div.fields span.on_one_line a.remove_nested_fields[data-association=chambers]').hide();
      }
      else {
        elem.find('div.fieldset div.fields span.on_one_line a.remove_nested_fields[data-association=chambers]').slice(0, 2).hide();
      }
    });
        
    if( $(left_ovary_selector + '_' + 'structure_id :selected').text() != 'изменена' ) {
      toggle_ovary_structure(left_ovary_selector);
    }

    // правый яичник
    if( !$(right_ovary_selector + '_' + 'is_follicle_visible').is(":checked") ) {
      set_disabled_attribute(right_ovary_selector + '_' + 'follicle_attributes',
                             follicle_attributes,
                             true);
    }

    if( $(right_ovary_selector + '_' + 'visibility_id :selected').text() == 'не определяется' ) {
      set_disabled_attribute(right_ovary_selector,
                             $.extend({'is_follicle_visible': ''}, ovary_attributes, ovary_options),
                             true);
      set_disabled_attribute(right_ovary_selector + '_' + 'follicle_attributes',
                             follicle_attributes,
                             true);
    }

    $.each($('div.fieldset div.fields span.on_one_line select[id^=gynecologic_examination_right_ovary_attributes_formations_attributes][id$=content_id]'), function() {
      var elem = $(this).parent().parent();
      if( $('#' + this.id + ' :selected').text() == 'однокамерное' ) {
        elem.find('div.fieldset a.add_nested_fields[data-association=chambers]').hide();
        elem.find('div.fieldset div.fields span.on_one_line a.remove_nested_fields[data-association=chambers]').hide();
      }
      else {
        elem.find('div.fieldset div.fields span.on_one_line a.remove_nested_fields[data-association=chambers]').slice(0, 2).hide();
      }
    });

    if( $(right_ovary_selector + '_' + 'structure_id :selected').text() != 'изменена' ) {
      toggle_ovary_structure(right_ovary_selector);
    }
    
    if( !$(default_selector + '_' + 'is_free_fluid_present').is(":checked") ) {
      toggle_free_fluid_condition();
    }
    
    /////////////////////////////////////
    // change detectors
    /////////////////////////////////////
    
    // тело матки
    $('#gynecologic_examination_uterine_body_visibility_id').change(function() {
      toggle_uterus_condition();
    });
    
    // полость матки
    $('#gynecologic_examination_uterine_cavity_size_change_id').change(function() {
      toggle_uterine_cavity_condition();
    });
    
    // миометрий
    $('#gynecologic_examination_myometric_structure_change_id').change(function() {
      toggle_myometric_structure_condition();
    });
    
    // эндометрий
    $('#gynecologic_examination_endometrium_echostructure_change_id').change(function() {
      toggle_endometrium_echostructure_condition();
    });
    
    $('#gynecologic_examination_endometrium_echostructure_change_type_id').change(function() {
      toggle_endometrium_echostructure_inclusion_condition();
    });
    
    // шейка
    $(endocervix_cyst_selector + '_' + 'cervix_structure_change_id').change(function() {
      toggle_cervix_structure_condition();
    });
    
    $(cervix_selector + '_' + 'cervix_visibility_id').change(function() {
      toggle_cervix_condition();
    });

    $(document).on('nested:fieldAdded:formations', function(e) {
      add_link = e.field.find('div.fieldset a');
      add_link.click();
      add_link.hide();
    });

    $(document).on('nested:fieldAdded:chambers', function(e) {
      var formation = e.field.parent().parent().parent().find('div.fields span.on_one_line select[id^=gynecologic_examination_left_ovary_attributes_formations_attributes][id$=content_id] :selected').text() || e.field.parent().parent().parent().find('div.fields span.on_one_line select[id^=gynecologic_examination_right_ovary_attributes_formations_attributes][id$=content_id] :selected').text();
      var visible_chambers = e.field.parent().find('div.fields').filter(function() { return $(this).css('display') != 'none' });
      if( formation == 'однокамерное' ) {
        $.each(visible_chambers.slice(0,1), function(idx, elem) {
          $(elem).find('span.on_one_line a.remove_nested_fields[data-association=chambers]').hide();
        });
        $.each(visible_chambers.slice(1), function(idx, elem) {
          $(elem).find('span.on_one_line a.remove_nested_fields[data-association=chambers]').show();
        });
      }
      else {
        $.each(visible_chambers.slice(0,2), function(idx, elem) {
          $(elem).find('span.on_one_line a.remove_nested_fields[data-association=chambers]').hide();
        });
        $.each(visible_chambers.slice(2), function(idx, elem) {
          $(elem).find('span.on_one_line a.remove_nested_fields[data-association=chambers]').show();
        });
      }
    });
    
    // левый яичник
    $(left_ovary_selector + '_' + 'is_follicle_visible').change(function() {
      toggle_follicle_condition(left_ovary_selector + '_' + 'follicle_attributes',
                                follicle_attributes,
                                this.checked);
    });
    
    $(left_ovary_selector + '_' + 'visibility_id').change(function() {
      toggle_ovary_condition(left_ovary_selector, ovary_attributes, ovary_options);
    });
    
    $(left_ovary_selector + '_' + 'structure_id').change(function() {
      toggle_ovary_formation(left_ovary_selector);
    });
    
    $('fieldset div.fields div.fieldset').on('change', 'div.fields span.on_one_line select[id^=gynecologic_examination_left_ovary_attributes_formations_attributes][id$=content_id]', function(e) {
      toggle_ovary_formation_chamber(e);
    });

    // правый яичник
    $(right_ovary_selector + '_' + 'is_follicle_visible').change(function(){
      toggle_follicle_condition(right_ovary_selector + '_' + 'follicle_attributes',
                                follicle_attributes,
                                this.checked);
    });
    
    $(right_ovary_selector + '_' + 'visibility_id').change(function() {
      toggle_ovary_condition(right_ovary_selector, ovary_attributes, ovary_options);
    });
    
    $(right_ovary_selector + '_' + 'structure_id').change(function() {
      toggle_ovary_formation(right_ovary_selector);
    });
    
    $('fieldset div.fields div.fieldset').on('change', 'div.fields span.on_one_line select[id^=gynecologic_examination_right_ovary_attributes_formations_attributes][id$=content_id]', function(e) {
      toggle_ovary_formation_chamber(e);
    });
    
    // заключение
    $(default_selector + '_' + 'is_free_fluid_present').change(function() {
      toggle_free_fluid_condition();
    });

    /////////////////////////////////////
    // reenable attributes before submit
    /////////////////////////////////////
    
    $('form').submit(function(){
      // тело матки
      set_disabled_attribute(uterus_selector,
                             $.extend({}, uterus_attributes, uterus_options),
                             false);

      // полость матки
      set_disabled_attribute(uterine_cavity_selector, 
                             uterine_cavity_attributes,
                             false);
      
      // миометрий
      set_disabled_attribute(myometrium_selector,
                             myometrium_attributes,
                             false);
      
      // эндометрий
      set_disabled_attribute(endometrium_echostructure_selector,
                             endometrium_echostructure_options,
                             false);
      
      // шейка
      set_disabled_attribute(endocervix_cyst_selector,
                             endocervix_cyst_attributes,
                             false);
      
      set_disabled_attribute(cervix_selector,
                             $.extend({'cervix_structure_change_id': ''}, cervix_attributes),
                             false);

      // левый яичник
      set_disabled_attribute(left_ovary_selector + '_' + 'follicle_attributes', 
                             follicle_attributes, 
                             false);
                             
      set_disabled_attribute(left_ovary_selector,
                             $.extend({'is_follicle_visible': ''}, ovary_attributes, ovary_options),
                             false);
                             
      // правый яичник
      set_disabled_attribute(right_ovary_selector + '_' + 'follicle_attributes',
                             follicle_attributes,
                             false);
                             
      set_disabled_attribute(right_ovary_selector,
                             $.extend({'is_follicle_visible': ''}, ovary_attributes, ovary_options),
                             false);

      // заключение
      set_disabled_attribute(default_selector,
                             free_fluid,
                             false);
    });
    
    $('input[name=commit][type=submit]').click(function(e) {
      submit_flag = true;
    });
  
    $(window).on('beforeunload', function() {
      return (submit_flag)? null: "Вы собираетесь покинуть страницу. Все несохраненные данные будут потеряны.";
    });
  })
</script>
<%= nested_form_for(@gyn_exam) do |f| %>
  <% if @gyn_exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gyn_exam.errors.count, "error") %> prohibited this gynecologic_examination from being saved:</h2>

      <ul>
      <% @gyn_exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fieldset">
    <span class="on_one_line">
      <%= f.label :menstruation_date %><br />
      <%= f.text_field :menstruation_date, :id => "datepicker", :size => 10 %>
    </span>
    <span class="on_one_line">
      <%= f.label :menstruation_day %><br />
      <%= f.number_field :menstruation_day, :style => "width:50px;" %>
    </span>
  </div>
  <fieldset>
    <legend>Тело матки</legend>
    <br />
    <div class="fieldset">
      <span class="on_one_line">
        <%= f.label :uterine_body_visibility_id %><br />
        <%= f.collection_select :uterine_body_visibility_id, GynecologicExamination::UterineBodyVisibility.all, :id, :value %>
      </span>
      <span class="on_one_line">
        <%= f.label :uterine_body_detection_position_id %><br />
        <%= f.collection_select :uterine_body_detection_position_id, GynecologicExamination::UterineBodyDetectionPosition.all, :id, :value %>
      </span>
    </div>
    <div class="fieldset">
      <span class="on_one_line">
        <%= f.label :uterine_boundary_id %><br />
        <%= f.collection_select :uterine_boundary_id, GynecologicExamination::UterineBoundary.all, :id, :value %>
      </span>
      <span class="on_one_line">
        <%= f.label :uterine_adumbration_id %><br />
        <%= f.collection_select :uterine_adumbration_id, GynecologicExamination::UterineAdumbration.all, :id, :value %>
      </span>
      <span class="on_one_line">
        <%= f.label :uterine_shape_id %><br />
        <%= f.collection_select :uterine_shape_id, GynecologicExamination::UterineShape.all, :id, :value %>
      </span>
    </div>
    <div class="fieldset">
      <span class="on_one_line">
        <%= f.label :uterine_size_id %><br />
        <%= f.collection_select :uterine_size_id, GynecologicExamination::UterineSize.all, :id, :value %>
      </span>
      <span class="on_one_line">
        <%= f.label :uterine_length %><br />
        <%= f.number_field :uterine_length, :style => "width:50px;", :step => "any" %>
      </span>
      <span class="on_one_line">
        <%= f.label :uterine_width %><br />
        <%= f.number_field :uterine_width, :style => "width:50px;", :step => "any" %>
      </span>
      <span class="on_one_line">
        <%= f.label :uterine_anteroposterior %><br />
        <%= f.number_field :uterine_anteroposterior, :style => "width:50px;", :step => "any" %>
      </span>
      <span class="on_one_line">
        <%= f.label :uterine_volume %><br />
        <%= f.number_field :uterine_volume, :style => "width:50px;", :step => "any" %>
      </span>    </div>
    <br />
    <fieldset>
      <legend>Миометрий</legend>
      <div class="fieldset">
        <span class="on_one_line">
          <%= f.label :myometric_structure_change_id %><br />
          <%= f.collection_select :myometric_structure_change_id, GynecologicExamination::MyometricStructureChange.all, :id, :value %>
        </span>
        <span class="on_one_line">
          <%= f.label :myometrium_anterior_wall_thickness %><br />
          <%= f.number_field :myometrium_anterior_wall_thickness, :style => "width:50px;", :step => "any" %>
        </span>
        <span class="on_one_line">
          <%= f.label :myometrium_posterior_wall_thickness %><br />
          <%= f.number_field :myometrium_posterior_wall_thickness, :style => "width:50px;", :step => "any" %>
        </span>
      </div>
      <div class="fieldset">
        <span class="on_one_line">
          Узлы:
        </span>
        <%= f.fields_for :myometric_structure_nodes do |node_form| %>
          <%= render "myometric_structure_node", :f => node_form %>
        <% end %>
        <%= f.link_to_add "[+] узел", :myometric_structure_nodes %>
      </div>
    </fieldset>
    <br />
    <fieldset>
      <legend>Эндометрий</legend>
      <div class="fieldset">
        <span class="on_one_line">
          <%= f.label :endometrium_echostructure_change_id %><br />
          <%= f.collection_select :endometrium_echostructure_change_id, GynecologicExamination::EndometriumEchostructureChange.all, :id, :value %>
        </span> 
        <span class="on_one_line">
          <%= f.label :endometrial_thickness %><br />
          <%= f.number_field :endometrial_thickness, :style => "width:50px;", :step => "any" %>
        </span>
        <span class="on_one_line">
          <%= f.label :endometrial_boundary_id %><br />
          <%= f.collection_select :endometrial_boundary_id, GynecologicExamination::EndometrialBoundary.all, :id, :value %>
        </span>
        <span class="on_one_line">
          <%= f.label :endometrial_adumbration_id %><br />
          <%= f.collection_select :endometrial_adumbration_id, GynecologicExamination::EndometrialAdumbration.all, :id, :value %>
        </span>
        <span class="on_one_line">
          <%= f.label :endometrium_phase_id %><br />
          <%= f.collection_select :endometrium_phase_id, GynecologicExamination::EndometriumPhase.all, :id, :value %>
        </span>
      </div>
      <div class="fieldset">
        <%= f.label :endometrium_echostructure_change_type_id %><br />
        <%= f.collection_select :endometrium_echostructure_change_type_id, GynecologicExamination::EndometriumEchostructureChangeType.all, :id, :value %>
      </div>
      <div class="fieldset">
        <%= f.fields_for :endometrium_echostructure_hyperechoic_inclusions do |inclusion_form| %>
          <%= render "endometrium_echostructure_hyperechoic_inclusion", :f => inclusion_form %>
        <% end %>
        <%= f.link_to_add "[+] гиперэхогенное включение", :endometrium_echostructure_hyperechoic_inclusions %>
      </div>
    </fieldset>
    <br />
    <fieldset>
      <legend>Полость матки</legend>
      <%= render "uterine_cavity", :f => f %>
    </fieldset>
    <br />
    <fieldset>
      <legend>Шейка матки</legend>
      <div class="fieldset">
        <span class="on_one_line">
          <%= f.label :cervix_visibility_id %><br />
          <%= f.collection_select :cervix_visibility_id, GynecologicExamination::CervixVisibility.all, :id, :value %>
        </span>
        <span class="on_one_line">
          <%= f.label :cervix_size %><br />
          <%= f.number_field :cervix_size, :style => "width: 50px;", :step => "any" %>
        </span>
        <span class="on_one_line"><br />
          <%= f.label :is_cervix_of_normal_size %>
          <%= f.check_box :is_cervix_of_normal_size %>
        </span>
      </div>
      <div class="fieldset">
        <%= render "endocervix_cyst", :f => f %>
      </div>
    </fieldset>
  </fieldset>
  <br />
  <fieldset>
    <legend>Левый яичник</legend>
    <%= f.fields_for :left_ovary do |builder| %>
      <%= render "ovary", :f => builder %>
    <% end %>
  </fieldset>
  <br />
  <fieldset>
    <legend>Правый яичник</legend>
    <%= f.fields_for :right_ovary do |builder| %>
      <%= render "ovary", :f => builder %>
    <% end %>
  </fieldset>
  <br />
  <fieldset>
    <legend><%= f.label :report %></legend>
    <div class="fieldset">
      <%= f.label :is_pathologic_formation_present %>
      <%= f.check_box :is_pathologic_formation_present %>
    </div>
    <div class="fieldset">
      <span class="on_one_line">
        <%= f.label :is_free_fluid_present %> определяется
        <%= f.check_box :is_free_fluid_present %>
      </span>
      <span class="on_one_line">
        в <%= f.collection_select :free_fluid_amount_id, GynecologicExamination::FreeFluidAmount.all, :id, :value %>
        <%= f.label :free_fluid_amount_id %>
      </span>
    </div>
    <div class="fieldset">
      <%= f.text_area :report, :size => "70x10" %>
    </div>
  </fieldset>
  <%= hidden_field_tag 'patient_id', params[:patient_id] %>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
