<script type="text/javascript">
  function set_disabled_attribute(selector, attributes, state) {
    $.each(attributes, function(attribute, value) {
      $(selector + '_' + attribute).prop('disabled', state);
    });
  };

  function reset_attributes(selector, attributes) {
    $.each(attributes, function(attribute, value) {
      $(selector + '_' + attribute).val(value);
    });
  };
  
  function set_option(selector, options, position) {
    $.each(options, function(option, value) {
      $(selector + '_' + option + ' :' + position).prop('selected', true);
    });
  };

  function toggle_follicle_condition(selector, attributes, is_checked) {
    if (is_checked) {
      set_disabled_attribute(selector, attributes, false);
    }
    else {
      reset_attributes(selector, attributes); 
      set_disabled_attribute(selector, attributes, true);
    }
  };
  
  function toggle_ovary_condition(selector, attributes, options) {
    if( $(selector + '_' + 'visibility_id option:selected').text() == 'не определяется' ) {
      set_disabled_attribute(selector,
                             $.extend({}, attributes, options),
                             true);
      reset_attributes(selector, attributes);
      set_option(selector, options, 'last');
    }
    if( $(selector + '_' + 'visibility_id option:selected').text() == 'определяется' ) {
      set_disabled_attribute(selector,
                             $.extend({}, attributes, options),
                             false);
      set_option(selector, options, 'first');
    }
  };

  $(document).ready(function() {
    left_ovary_attrs = '#gynecologic_examination_left_ovary_attributes';
    right_ovary_attrs = '#gynecologic_examination_right_ovary_attributes';
    follicle_attributes = {'min_size': '', 'max_size': '', 'amount': 0};
    ovary_attributes = {'length': '', 'thickness': '', 'width': ''};
    ovary_options = {'size_id': '', 'structure_id': ''};
    
    /////////////////////////////////////
    // initial consistensy
    /////////////////////////////////////
        
    if( !$(left_ovary_attrs + '_' + 'is_follicle_visible').is(":checked") ) {
      set_disabled_attribute(left_ovary_attrs + '_' + 'follicle_attributes', 
                             follicle_attributes, 
                             true);
    }

    if( $(left_ovary_attrs + '_' + 'visibility_id option:selected').text() == 'не определяется' ) {
      set_disabled_attribute(left_ovary_attrs,
                             $.extend({}, ovary_attributes, ovary_options),
                             true);
    }

    if( !$(right_ovary_attrs + '_' + 'is_follicle_visible').is(":checked") ) {
      set_disabled_attribute(right_ovary_attrs + '_' + 'follicle_attributes',
                             follicle_attributes,
                             true);
    }

    if( $(right_ovary_attrs + '_' + 'visibility_id option:selected').text() == 'не определяется' ) {
      set_disabled_attribute(right_ovary_attrs,
                             $.extend({}, ovary_attributes, ovary_options),
                             true);
    }
    
    /////////////////////////////////////
    // change detectors
    /////////////////////////////////////
    
    // left ovary
    $(left_ovary_attrs + '_' + 'is_follicle_visible').change(function() {
      toggle_follicle_condition(left_ovary_attrs + '_' + 'follicle_attributes',
                                follicle_attributes,
                                this.checked);
    });
    
    $(left_ovary_attrs + '_' + 'visibility_id').change(function() {
      toggle_ovary_condition(left_ovary_attrs, ovary_attributes, ovary_options);
    });
    
    // right ovary
    $(right_ovary_attrs + '_' + 'is_follicle_visible').change(function(){
      toggle_follicle_condition(right_ovary_attrs + '_' + 'follicle_attributes',
                                follicle_attributes,
                                this.checked);
    });
    
    $(right_ovary_attrs + '_' + 'visibility_id').change(function() {
      toggle_ovary_condition(right_ovary_attrs, ovary_attributes, ovary_options);
    });
    
    /////////////////////////////////////
    // reenable attributes before submit
    /////////////////////////////////////
    
    $('form').submit(function(){
      // left ovary
      set_disabled_attribute(left_ovary_attrs + '_' + 'follicle_attributes', 
                             follicle_attributes, 
                             false);
                             
      set_disabled_attribute(left_ovary_attrs,
                             $.extend({}, ovary_attributes, ovary_options),
                             false);
                             
      // right ovary
      set_disabled_attribute(right_ovary_attrs + '_' + 'follicle_attributes',
                             follicle_attributes,
                             false);
                             
      set_disabled_attribute(right_ovary_attrs,
                             $.extend({}, ovary_attributes, ovary_options),
                             false);
    })
  })
</script>
<%= nested_form_for(@gyn_exam) do |f| %>
  <% if @gyn_exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gyn_exam.errors.count, "error") %> prohibited this gynecologic_examination from being saved:</h2>

      <ul>
      <% @gyn_exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :menstruation_date %><br />
    <%= f.text_field :menstruation_date, :id => "datepicker", :size => 10 %>
  </div>
  <div class="field">
    <%= f.label :menstruation_day %><br />
    <%= f.number_field :menstruation_day, :style => "width:50px;" %>
  </div>
  <div class="field">
    <%= f.label :uterine_body_visibility %><br />
    <%= f.collection_select :uterine_body_visibility_id, GynecologicExamination::UterineBodyVisibility.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :uterine_body_detection_position %><br />
    <%= f.collection_select :uterine_body_detection_position_id, GynecologicExamination::UterineBodyDetectionPosition.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :uterine_boundary %><br />
    <%= f.collection_select :uterine_boundary_id, GynecologicExamination::UterineBoundary.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :uterine_adumbration %><br />
    <%= f.collection_select :uterine_adumbration_id, GynecologicExamination::UterineAdumbration.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :uterine_shape %><br />
    <%= f.collection_select :uterine_shape_id, GynecologicExamination::UterineShape.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :uterine_size %><br />
    <%= f.collection_select :uterine_size_id, GynecologicExamination::UterineSize.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :uterine_length %><br />
    <%= f.number_field :uterine_length, :style => "width:50px;", :step => "any" %>
  </div>
  <div class="field">
    <%= f.label :uterine_anteroposterior %><br />
    <%= f.number_field :uterine_anteroposterior, :style => "width:50px;", :step => "any" %>
  </div>
  <div class="field">
    <%= f.label :uterine_width %><br />
    <%= f.number_field :uterine_width, :style => "width:50px;", :step => "any" %>
  </div>
  <div class="field">
    <%= f.label :myometric_structure_change %><br />
    <%= f.collection_select :myometric_structure_change_id, GynecologicExamination::MyometricStructureChange.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.fields_for :myometric_structure_nodes do |node_form| %>
      <%= render "myometric_structure_node", :f => node_form %>
    <% end %>
    <%= f.link_to_add "Добавить узел", :myometric_structure_nodes %>
  </div>
  <div class="field">
    <%= f.label :myometrium_anterior_wall_thickness %><br />
    <%= f.number_field :myometrium_anterior_wall_thickness, :style => "width:50px;", :step => "any" %>
  </div>
  <div class="field">
    <%= f.label :myometrium_posterior_wall_thickness %><br />
    <%= f.number_field :myometrium_posterior_wall_thickness, :style => "width:50px;", :step => "any" %>
  </div>  
  <div class="field">
    <%= f.label :endometrial_thickness %><br />
    <%= f.number_field :endometrial_thickness, :style => "width:50px;", :step => "any" %>
  </div>
  <div class="field">
    <%= f.label :endometrial_boundary %><br />
    <%= f.collection_select :endometrial_boundary_id, GynecologicExamination::EndometrialBoundary.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :endometrial_adumbration %><br />
    <%= f.collection_select :endometrial_adumbration_id, GynecologicExamination::EndometrialAdumbration.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :endometrium_echostructure_change %><br />
    <%= f.collection_select :endometrium_echostructure_change_id, GynecologicExamination::EndometriumEchostructureChange.all, :id, :value %>
  </div>  
  <div class="field">
    <%= f.label :endometrium_echostructure_change_type %><br />
    <%= f.collection_select :endometrium_echostructure_change_type_id, GynecologicExamination::EndometriumEchostructureChangeType.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.fields_for :endometrium_echostructure_hyperechoic_inclusions do |inclusion_form| %>
      <%= render "endometrium_echostructure_hyperechoic_inclusion", :f => inclusion_form %>
    <% end %>
    <%= f.link_to_add "Добавить гиперэхогенное включение", :endometrium_echostructure_hyperechoic_inclusions %>
  </div>
  <div class="field">
    <%= f.label :endometrium_phase %><br />
    <%= f.collection_select :endometrium_phase_id, GynecologicExamination::EndometriumPhase.all, :id, :value %>
  </div>
  <div class="field">
    <%= render "uterine_cavity", :f => f %>
  </div>
  <div class="field">
    <span class="on_one_line">
      <%= f.label :cervix_visibility %><br />
      <%= f.collection_select :cervix_visibility_id, GynecologicExamination::CervixVisibility.all, :id, :value %>
    </span>
    <span class="on_one_line">
      <%= f.label :cervix_size %><br />
      <%= f.number_field :cervix_size, :style => "width: 50px;", :step => "any" %>
    </span>
    <span class="on_one_line"><br />
      <%= f.label :is_cervix_of_normal_size %>
      <%= f.check_box :is_cervix_of_normal_size %>
    </span>
  </div>
  <div class="field">
    <%= render "endocervix_cyst", :f => f %>
  </div>
  <fieldset>
    <legend>Левый яичник</legend>
    <%= f.fields_for :left_ovary do |builder| %>
      <%= render "ovary", :f => builder %>
    <% end %>
  </fieldset>
  <fieldset>
    <legend>Правый яичник</legend>
    <%= f.fields_for :right_ovary do |builder| %>
      <%= render "ovary", :f => builder %>
    <% end %>
  </fieldset>
  <%= hidden_field_tag 'patient_id', params[:patient_id] %>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
