<%= nested_form_for(@gyn_exam) do |f| %>
  <% if @gyn_exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gyn_exam.errors.count, "error") %> prohibited this gynecologic_examination from being saved:</h2>

      <ul>
      <% @gyn_exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :menstruation_date %><br />
    <%= f.text_field :menstruation_date, :id => "datepicker", :size => 10 %>
  </div>
  <div class="field">
    <%= f.label :menstruation_day %><br />
    <%= f.number_field :menstruation_day, :style => "width:50px;" %>
  </div>
  <div class="field">
    <%= f.label :uterine_body_visibility %><br />
    <%= f.collection_select :uterine_body_visibility_id, GynecologicExamination::UterineBodyVisibility.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :uterine_body_detection_position %><br />
    <%= f.collection_select :uterine_body_detection_position_id, GynecologicExamination::UterineBodyDetectionPosition.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :uterine_boundary %><br />
    <%= f.collection_select :uterine_boundary_id, GynecologicExamination::UterineBoundary.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :uterine_adumbration %><br />
    <%= f.collection_select :uterine_adumbration_id, GynecologicExamination::UterineAdumbration.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :uterine_shape %><br />
    <%= f.collection_select :uterine_shape_id, GynecologicExamination::UterineShape.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :uterine_size %><br />
    <%= f.collection_select :uterine_size_id, GynecologicExamination::UterineSize.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :uterine_length %><br />
    <%= f.number_field :uterine_length, :style => "width:50px;" %>
  </div>
  <div class="field">
    <%= f.label :uterine_anteroposterior %><br />
    <%= f.number_field :uterine_anteroposterior, :style => "width:50px;" %>
  </div>
  <div class="field">
    <%= f.label :uterine_width %><br />
    <%= f.number_field :uterine_width, :style => "width:50px;" %>
  </div>
  <div class="field">
    <%= f.label :myometric_structure_change %><br />
    <%= f.collection_select :myometric_structure_change_id, GynecologicExamination::MyometricStructureChange.all, :id, :value %>
  </div>
  <%= f.fields_for :myometric_structure_nodes do |node_form| %>
  <div class="field">
    <span class="on_one_line">
      <%= node_form.label :localization %><br />
      <%= node_form.collection_select :localization_id, GynecologicExamination::MyometricStructureNode::Localization.all, :id, :value %>
    </span>
    <span class="on_one_line">
      <%= node_form.label :depth_localization %><br />
      <%= node_form.collection_select :depth_localization_id, GynecologicExamination::MyometricStructureNode::DepthLocalization.all, :id, :value %>
    </span>    <span class="on_one_line">
      <%= node_form.label :size %><br />
      <%= node_form.number_field :size, :style => "width:50px;" %>
    </span>
    <span class="on_one_line"><br />
      <%= node_form.link_to_remove "Удалить узел" %>
    </span>
  </div>
  <% end %>
  <%= f.link_to_add "Добавить узел", :myometric_structure_nodes %>
  <div class="field">
    <%= f.label :endometrial_thickness %><br />
    <%= f.number_field :endometrial_thickness, :style => "width:50px;" %>
  </div>
  <div class="field">
    <%= f.label :endometrial_boundary %><br />
    <%= f.collection_select :endometrial_boundary_id, GynecologicExamination::EndometrialBoundary.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :endometrial_adumbration %><br />
    <%= f.collection_select :endometrial_adumbration_id, GynecologicExamination::EndometrialAdumbration.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :endometrium_echostructure_change %><br />
    <%= f.collection_select :endometrium_echostructure_change_id, GynecologicExamination::EndometriumEchostructureChange.all, :id, :value %>
  </div>  
  <div class="field">
    <%= f.label :endometrium_echostructure_change_type %><br />
    <%= f.collection_select :endometrium_echostructure_change_type_id, GynecologicExamination::EndometriumEchostructureChangeType.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :endometrium_phase %><br />
    <%= f.collection_select :endometrium_phase_id, GynecologicExamination::EndometriumPhase.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :uterine_cavity_deformation %><br />
    <%= f.collection_select :uterine_cavity_deformation_id, GynecologicExamination::UterineCavityDeformation.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :uterine_cavity_size_change %><br />
    <%= f.collection_select :uterine_cavity_size_change_id, GynecologicExamination::UterineCavitySizeChange.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :cervix_visibility %><br />
    <%= f.collection_select :cervix_visibility_id, GynecologicExamination::CervixVisibility.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :cervix_size %><br />
    <%= f.collection_select :cervix_size_id, GynecologicExamination::CervixSize.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.label :cervix_structure_change %><br />
    <%= f.collection_select :cervix_structure_change_id, GynecologicExamination::CervixStructureChange.all, :id, :value %>
  </div>
  <div class="field">
    Left Ovary:
    <%= f.fields_for :left_ovary do |builder| %>
      <%= render "ovary", :f => builder %>
    <% end %>
  </div>
  <div class="field">
    Right Ovary:
    <%= f.fields_for :right_ovary do |builder| %>
      <%= render "ovary", :f => builder %>
    <% end %>
  </div>
  <%= hidden_field_tag 'patient_id', params[:patient_id] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
