<p>
  <%= orientation %> яичник <%= ovary.visibility.value %>.
  <% if ovary.visibility.value == 'определяется' %>
    Размеры <%= ovary.size.value %>.<br />
    Длина <%= ovary.length %> мм.<br />
    Толщина <%= ovary.thickness %> мм.<br />
    Ширина <%= ovary.width %> мм.<br />
    Структура <%= ovary.structure.value %>.<br />
    <% if ovary.structure.value == 'обычная' && ovary.is_follicle_visible %>
      Фолликул<%= "ы (#{ovary.follicle.amount}) от #{ovary.follicle.min_size} до " if ovary.follicle.is_multiple? %> <%= ovary.follicle.max_size || ovary.follicle.min_size %> мм.
    <% end %>
    Образования:<br />
    <% if ovary.structure.value == 'изменена' %>
      <% ovary.formations.each do |formation| %>
        &bull; Форма <%= formation.shape.value %>, границы <%= formation.boundary.value %>, контуры <%= formation.adumbration.value %> размер <%= formation.size %> мм, структура <%= formation.structure.value %>, содержимое <%= formation.content.value %>, толщина стенки <%= formation.wall_thickness %> мм<%= ", #{formation.comment}" unless formation.comment.nil? || formation.comment.empty? %><br />
      <% end %>
    <% end %>
  <% end %>
</p>