<p>
  <b><i><%= orientation %> яичник</i></b> <%= ovary.visibility.value %>.
  <% if ovary.visibility.value == 'определяется' %>
    Размеры <%= ovary.size.value %>.<br />
    Длина <%= ovary.length %> мм.<br />
    Толщина <%= ovary.thickness %> мм.<br />
    Ширина <%= ovary.width %> мм.<br />
    Структура <%= ovary.structure.value %>.<br />
    <% if ovary.is_follicle_visible %>
    Фолликул<%= "ы (#{ovary.follicle.amount}) от #{ovary.follicle.min_size} до " if ovary.follicle.is_multiple? %> <%= ovary.follicle.max_size || ovary.follicle.min_size %> мм.<br />
    <% else %>
    Фолликулярный аппарат не выражен.<br />
    <% end %>
    <% if ovary.structure.value == 'изменена' %>
    Образования:<br />
      <% ovary.formations.each.with_index do |formation, fidx| %>
        &bull; Форма <%= formation.shape.value %>, границы <%= formation.boundary.value %>, контуры <%= formation.adumbration.value %> размер <%= formation.size %> мм, структура <%= formation.structure.value %>, содержимое <%= formation.content.value %>, толщина стенки <%= formation.wall_thickness %> мм<br />
        &emsp;Камеры образования:<br />
        <% formation.chambers.each.with_index do |chamber, cidx| %>
          &emsp;&emsp; <%= chamber.size %> мм, <%= chamber.suspension.value %> взвесь, внутренняя поверхность <%= chamber.inner_surface.value %><%= ", #{chamber.comment}" unless chamber.comment.nil? || chamber.comment.empty? %>
          <% if cidx != formation.chambers.size - 1 %><br /><% end %>
        <% end %>
        <% unless formation.comment.nil? || formation.comment.empty? %>
          <br /><%= formation.comment %>
        <% end %>
        <% if fidx != ovary.formations.size - 1 %><br /><% end %>
      <% end %>
    <% end %>
  <% end %>
</p>