<p id="notice" class="noprint"><%= notice %></p>
<h4>Протокол ультразвукового исследования
  на аппарате Sono Ace R3 фирмы Medison</h4>
(ул. Розы Люксембург, д.77, тел. 46-15-10)<br />
<p>
Ф.И.О. <%= format_name(@patient) %>, возраст <%= age(@patient.dob) %> лет.<br />
Дата последней менструации <%= l @gyn_exam.menstruation_date, :format => :long %>,
(<%= @gyn_exam.menstruation_day %>-й день).
</p>
<p>
  Тело матки: <%= @gyn_exam.uterine_body_visibility.value %>
  <%= @gyn_exam.uterine_body_detection_position.value if @gyn_exam.uterine_body_visibility.value == 'определяется' %>
  <% if @gyn_exam.uterine_body_visibility.value == 'определяется' %>
    <p>
      Границы <%= @gyn_exam.uterine_boundary.value %>.
      Контуры <%= @gyn_exam.uterine_adumbration.value %>.
      Форма <%= @gyn_exam.uterine_shape.value %>.
    </p>
    <p>
      Размеры <%= @gyn_exam.uterine_size.value %>:<br />
      длина: <%= @gyn_exam.uterine_length %><br />
      передне-задний: <%= @gyn_exam.uterine_anteroposterior %><br />
      ширина: <%= @gyn_exam.uterine_width %>
    </p>
    <p>
      Структура миометрия: <%= @gyn_exam.myometric_structure_change.value -%>
      <%- if @gyn_exam.myometric_structure_change.value == 'изменена' %>:<br />
        <% @gyn_exam.myometric_structure_nodes.each do |node| %>
          &bull; <%= node.localization.value %> <%= node.depth_localization.value %>, <%= node.size %> мм<br />
        <% end %>
      <% end %><br />
      М-эхо: толщина <%= @gyn_exam.endometrial_thickness %> мм,
      границы <%= @gyn_exam.endometrial_boundary.value %>,
      контуры <%= @gyn_exam.endometrial_adumbration.value %>,
      эхоструктура <%= @gyn_exam.endometrium_echostructure_change.value %>, <%= @gyn_exam.endometrium_echostructure_change_type.value -%>
      <%- if @gyn_exam.endometrium_echostructure_change_type.value == 'гиперэхогенное включение' %>:<br />
        <%- @gyn_exam.endometrium_echostructure_hyperechoic_inclusions.each do |inclusion| -%>
          &bull; <%= inclusion.localization.value %>, <%= inclusion.size %> мм<br />
        <%- end -%>
      <%- end -%>
    </p>
    <p>
      Эндометрий <%= 'не' if @gyn_exam.endometrium_phase.value == 'не соответствует' %> соответствует
      <%= @gyn_exam.endometrium_phase.value unless @gyn_exam.endometrium_phase.value == 'не соответствует' %> фазе менструального цикла.
    </p>
    <p>
      Полость матки <%= @gyn_exam.uterine_cavity_deformation.value %>, <%= @gyn_exam.uterine_cavity_size_change.value %>
      <% if @gyn_exam.uterine_cavity_size_change.value == 'расширена' %>
      <% end %>
    </p>
    <p>
      Шейка матки <%= @gyn_exam.cervix_visibility.value %>,
      <b>Cervix Size</b>
      <%= @gyn_exam.cervix_size.value %>
      Структура <%= @gyn_exam.cervix_structure_change.value %>
    </p>
  <% end %>
</p>

<p>
  <b>Left Ovary</b>
  <%= lo = @gyn_exam.left_ovary;
    [lo.length, lo.thickness, lo.width, lo.visibility.value, lo.size.value, lo.structure.value].join(' ')
  %>
</p>

<p>
  <b>Right Ovary</b>
  <%= ro = @gyn_exam.right_ovary;
    [ro.length, ro.thickness, ro.width, ro.visibility.value, ro.size.value, ro.structure.value].join(' ')
   %>
</p>

<%= link_to 'Edit', edit_gynecologic_examination_path(@gyn_exam) %> |
<%= link_to 'Back', gynecologic_examinations_path %>
