<p id="notice"><%= notice %></p>

<p>
  <b>Menstruation date:</b>
  <%= @gynecologic_examination.menstruation_date %>
</p>

<p>
  <b>Menstruation day:</b>
  <%= @gynecologic_examination.menstruation_day %>
</p>

<p>
  <b>Uterine length:</b>
  <%= @gynecologic_examination.uterine_length %>
</p>

<p>
  <b>Uterine anteroposterior:</b>
  <%= @gynecologic_examination.uterine_anteroposterior %>
</p>

<p>
  <b>Uterine width:</b>
  <%= @gynecologic_examination.uterine_width %>
</p>

<p>
  <b>Endometrial thickness:</b>
  <%= @gynecologic_examination.endometrial_thickness %>
</p>

<p>
  <b>Uterine Boundaries</b>
  <%= @gynecologic_examination.uterine_boundary.value %>
</p>

<p>
  <b>Uterine Adumbration</b>
  <%= @gynecologic_examination.uterine_adumbration.value %>
</p>

<p>
  <b>Uterine Shape</b>
  <%= @gynecologic_examination.uterine_shape.value %>
</p>

<p>
  <b>Uterine Size</b>
  <%= @gynecologic_examination.uterine_size.value %>
</p>

<p>
  <b>Endometrial Boundaries</b>
  <%= @gynecologic_examination.endometrial_boundary.value %>
</p>

<p>
  <b>Endometrial Adumbration</b>
  <%= @gynecologic_examination.endometrial_adumbration.value %>
</p>

<p>
  <b>Endometrium Phase</b>
  <%= @gynecologic_examination.endometrium_phase.value %>
</p>

<p>
  <b>Uterine Cavity Deformation</b>
  <%= @gynecologic_examination.uterine_cavity_deformation.value %>
</p>

<p>
  <b>Uterine Cavity Size</b>
  <%= @gynecologic_examination.uterine_cavity_size.value %>
</p>

<p>
  <b>Cervix Visibility</b>
  <%= @gynecologic_examination.cervix_visibility.value %>
</p>

<p>
  <b>Cervix Size</b>
  <%= @gynecologic_examination.cervix_size.value %>
</p>

<p>
  <b>Cervix Structure Change</b>
  <%= @gynecologic_examination.cervix_structure_change.value %>
</p>

<p>
  <b>Left Ovary</b>
  <%= lo = @gynecologic_examination.left_ovary;
    [lo.length, lo.thickness, lo.width, lo.visibility.value, lo.size.value, lo.structure.value].join(' ')
  %>
</p>

<p>
  <b>Right Ovary</b>
  <%= ro = @gynecologic_examination.right_ovary;
    [ro.length, ro.thickness, ro.width, ro.visibility.value, ro.size.value, ro.structure.value].join(' ')
   %>
</p>

<%= link_to 'Edit', edit_gynecologic_examination_path(@gynecologic_examination) %> |
<%= link_to 'Back', gynecologic_examinations_path %>
