<p id="notice" class="noprint"><%= notice %></p>
<h4>Протокол ультразвукового исследования</h4>
<h4>на аппарате Sono Ace R3 фирмы Medison</h4>
<p class="headline">(ул. Розы Люксембург, д.77, тел. 46-15-10)</p>
<p>
  <br/>
</p>

<p>
  Ф.И.О. <%= format_name(@patient) %>, возраст <%= age(@patient.dob) %> лет.<br />
  <% unless @gyn_exam.menstruation_date.nil? %>
    Дата последней менструации <%= l @gyn_exam.menstruation_date, :format => :long %>
    (<%= @gyn_exam.menstruation_day %>-й день).
  <% end %>
</p>
<p>
  <b><i>Тело матки</i></b>: <%= @gyn_exam.uterine_body_visibility.value %>
  <%= @gyn_exam.uterine_body_detection_position.value if @gyn_exam.uterine_body_visibility.value == 'определяется' %>
  <% if @gyn_exam.uterine_body_visibility.value == 'определяется' %>
    <p>
      Границы <%= @gyn_exam.uterine_boundary.value %>.
      Контуры <%= @gyn_exam.uterine_adumbration.value %>.
      Форма <%= @gyn_exam.uterine_shape.value %>.
    </p>
    <p>
      Размеры <%= @gyn_exam.uterine_size.value %>:<br />
      длина: <%= @gyn_exam.uterine_length %> мм<br />
      передне-задний: <%= @gyn_exam.uterine_anteroposterior %> мм<br />
      ширина: <%= @gyn_exam.uterine_width %> мм<br />
      объем: <%= @gyn_exam.uterine_volume %> мм<small><sup>3</sup></small>
    </p>
    <p>
      <u>Структура миометрия</u>: <%= @gyn_exam.myometric_structure_change.value -%>
      <%- if @gyn_exam.myometric_structure_change.value == 'изменена' %>, <%= @gyn_exam.myometric_structure_nodes.size == 1 ? 'узел' : 'узлы' %>:<br />
        <% @gyn_exam.myometric_structure_nodes.each do |node| %>
          &bull; <%= node.localization.value %> <%= node.depth_localization.value %>, диаметром <%= node.size %> мм<%= ", #{node.comment}" unless node.comment.nil? || node.comment.empty? %><br />
        <% end %>
        <% unless @gyn_exam.myometric_structure_change.value == 'изменена' %><br /><% end %>
        Толщина передней стенки <%= @gyn_exam.myometrium_anterior_wall_thickness %> мм.<br />
        Толщина задней стенки <%= @gyn_exam.myometrium_posterior_wall_thickness %> мм.
      <% end %>
    </p>
    <p>
      <b><i>М-эхо</i></b>: толщина <%= @gyn_exam.endometrial_thickness %> мм,
      границы <%= @gyn_exam.endometrial_boundary.value %>,
      контуры <%= @gyn_exam.endometrial_adumbration.value %>,
      эхоструктура <%= @gyn_exam.endometrium_echostructure_change.value %>
      <% if @gyn_exam.endometrium_echostructure_change.value == 'изменена' -%>
        <%= @gyn_exam.endometrium_echostructure_change_type.value == 'гиперэхогенное включение' ? ", #{@gyn_exam.endometrium_echostructure_change_type.value}:" : "м-эхо #{@gyn_exam.endometrium_echostructure_change_type.value}." %>
        <%- if @gyn_exam.endometrium_echostructure_change_type.value == 'гиперэхогенное включение' %><br />
          <%- @gyn_exam.endometrium_echostructure_hyperechoic_inclusions.each do |inclusion| -%>
            &bull; <%= inclusion.localization.value %>, <%= inclusion.size %> мм<%= ", #{inclusion.comment}" unless inclusion.comment.nil? || inclusion.comment.empty? %><br />
          <%- end -%>
        <% end %>
      <% end %>
    </p>
    <p>
      Эндометрий <%= 'не' if @gyn_exam.endometrium_phase.value == 'не соответствует' %> соответствует
      <%= @gyn_exam.endometrium_phase.value unless @gyn_exam.endometrium_phase.value == 'не соответствует' %> фазе менструального цикла.
    </p>
    <p>
      Полость матки <%= @gyn_exam.uterine_cavity_deformation.value %>, <%= @gyn_exam.uterine_cavity_size_change.value %><%= '.' if @gyn_exam.uterine_cavity_size_change.value == 'не расширена' %>
      <% if @gyn_exam.uterine_cavity_size_change.value != 'не расширена' %>
        до <%= @gyn_exam.uterine_cavity_size %> мм<%= ' за счет узла' if @gyn_exam.is_uterine_cavity_node_present %>.
      <% end %>
    </p>
    <p>
      <u>Шейка матки</u> <%= @gyn_exam.cervix_visibility.value %>
      <% if @gyn_exam.cervix_visibility.value == 'определяется' %>
        <%= ', обычных размеров' if @gyn_exam.is_cervix_of_normal_size %> <%= @gyn_exam.cervix_size %> мм.
        Структура <%= @gyn_exam.cervix_structure_change.value %> 
        <% if @gyn_exam.cervix_structure_change.value == 'изменена' %> за счет кист<%= 'ы' unless @gyn_exam.is_endocervix_cyst_multiple %> эндоцервикса <%= "от #{@gyn_exam.endocervix_cyst_min_size}" if @gyn_exam.is_endocervix_cyst_multiple %> до <%= @gyn_exam.endocervix_cyst_max_size || @gyn_exam.endocervix_cyst_min_size %> мм.
        <% end %>
      <% end %>
    </p>
  <% end %>
</p>

<%= render :partial => "ovary_display", :locals => { :ovary => @gyn_exam.left_ovary, :orientation => "Левый" } %>
<%= render :partial => "ovary_display", :locals => { :ovary => @gyn_exam.right_ovary, :orientation => "Правый" } %>

<p>
<% if @gyn_exam.is_pathologic_formation_present %>
  Обнаружены патологические образования в полости малого таза.<br />
<% else %>
  Патологические образования в полости малого таза не определяются.<br />
<% end %>
Свободная жидкость <%= 'не определяется.' unless @gyn_exam.is_free_fluid_present %>
  <% if @gyn_exam.is_free_fluid_present %>
  определяется в <%= @gyn_exam.free_fluid_amount.value %> количестве.
  <% end %>
</p>

<p>
  <b><em><u>Заключение</u></em></b><br/>
  <%= @gyn_exam.report %>
</p>

<p>
  <%= l @gyn_exam.created_at.to_date, :format => :long %><br />
  Врач: <%= format_name(current_user, :format => :abbr) %>
</p>
<p class="noprint">
  <%= link_to 'Редактировать', edit_gynecologic_examination_path(@gyn_exam) %>
  <% link_to 'Удалить', @gyn_exam, method: :delete, data: { confirm: 'Вы уверены?' } %>
</p>

<p class="noprint">
  <input type="button" id="print" onclick="javascript:print()" value="Печать" />
</p>