<script type="text/javascript">
  // перевести фокус на поле с фамилией
  $(function() {
    $("#patient_last_name").focus();
  });

  // инициализировать календарь
  $(function() {
    $('#datepicker').datepicker(
      $.extend(      
        $.datepicker.regional[ "ru" ],
        {
          dateFormat: "yy-mm-dd",
          yearRange: "-113:+0",
          changeMonth: true,
          changeYear: true
        }
      )
    );
  });
</script>

<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <p>
      <%= @patient.errors.methods %>
    </p>
    <div id="error_explanation" class="noprint">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :patronymic %><br />
    <%= f.text_field :patronymic %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.text_field :dob, :id => "datepicker" %>
  </div>
  <div class="field">
    <%= f.label :liver_condition %><br />
    <%= f.collection_select :liver_condition_id, LiverCondition.all, :id, :condition %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
