<script type="text/javascript">
  $(document).ready(function() {
    $('#submit_examination_select').click(function() {
      $(location).attr('href', $('#new_examination').val());
    })
  })
</script>
<p id="notice" class="noprint"><%= notice %></p>
<h1>Карта пациента</h1>
<p>
  <b>ФИО:</b>
  <%= format_name(@patient) %>
</p>

<p>
  <b>Возраст:</b>
  <%= a = age(@patient.dob) %> <%= Russian.p(a, 'год', 'года', 'лет') %>
</p>

<p>
  <b>Телефон:</b>
  <%= @patient.phone %>
</p>

<p>
  <b>Адрес:</b>
  <%= format_address(@patient.address) %>
</p>

<p>
  <b>Предыдущие обследования:</b><br />
  <% @patient.patient_examinations.order(:created_at).each do |pe| %>
    <%= l pe.created_at, :format => :long %>
    <%= link_to t(pe.examination_type, scope: [:activerecord, :models]), self.send("#{pe.examination_type.to_s}_path", pe.examination) %><br />
  <% end %>
</p>

<p class="noprint">
  Новое: <%= select(nil, nil, PatientExamination.examinations.collect{|pe| [t(pe, scope: [:activerecord, :models]), self.send("new_#{pe.to_s}_path", :patient_id => @patient.id)]}, {}, {:id => "new_examination"}) %>
  <input id="submit_examination_select" type="submit" value="Создать" />
<p>

<p class="noprint">
  <%= link_to 'Редактировать данные пациента', edit_patient_path(@patient) %>
</p>