<p id="notice" class="noprint"><%= notice %></p>
<h1>Карта пациента</h1>
<p>
  <b>ФИО:</b>
  <%= [@patient.last_name, @patient.first_name, @patient.patronymic].join(' ') %>
</p>

<p>
  <b>Возраст:</b>
  <%= age(@patient.dob) %>
</p>

<p>
  <b>Пол:</b>
  <%= @patient.sex.value %>
</p>

<p>
  <b>Телефон:</b>
  <%= @patient.phone %>
</p>

<p class="noprint">
  <%= link_to 'Edit', edit_patient_path(@patient) %> |
  <%= link_to 'Back', patients_path %>
</p>

<p class="noprint">
  <input type="button" id="print" onclick="javascript:print()" value="Печать" />
</p>