<p id="notice" class="noprint"><%= notice %></p>
<h1>Карта пациента</h1>
<p>
  <b>ФИО:</b>
  <%= format_name(@patient) %>
</p>

<p>
  <b>Возраст:</b>
  <%= a = age(@patient.dob) %> <%= Russian.p(a, 'год', 'года', 'лет') %>
</p>

<p>
  <b>Телефон:</b>
  <%= @patient.phone %>
</p>

<p>
  <b>Адрес:</b>
  <%= format_address(@patient.address) %>
</p>

<p>
  <b>Предыдущие обследования:</b><br />
  <% @patient.patient_examinations.order(:created_at).each do |pe| %>
    <%= l pe.created_at, :format => :long %>
    <%= link_to t(pe.examination_type, scope: [:activerecord, :models]), self.send("#{pe.examination_type.to_s}_path", pe.examination) %><br />
  <% end %>
  
</p>

<% if @patient.sex.value == 'женский' %>
<p class="noprint">
  <% PatientExamination.examinations.each do |pe| %>
    <%= link_to 'Новое ' + t(pe, scope: [:activerecord, :models]), self.send("new_#{pe.to_s}_path", :patient_id => @patient.id) %><br />
  <% end %>
<p>
<% end %>

<p class="noprint">
  <%= link_to 'Редактировать', edit_patient_path(@patient) %>
</p>