<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag "application", :media => "screen, projection" %>
  <%= stylesheet_link_tag "print",       :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:user_id] %>
  <div id="logout_link" class="noprint">
    <%= link_to 'На главную', root_path %> | <%= link_to "Выйти", logout_url, :method => :delete %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
